.cards{
    display: flex;
}

.container1{
    width: 280px;
    height: 500px;
    background-color: white;
    box-shadow: 3px 2px 5px 4px #777070;
    border-radius: 5%;
    padding: 5px;
    margin-top: 50px;
    margin-left: 100px;
}

.container2{
    width: 280px;
    height: 500px;
    background-color:rgb(221, 125, 29);
    box-shadow: 3px 2px 5px 4px #777070;
    border-radius: 5%;
    padding: 5px;
    margin-top: 80px;
    margin-left: 40px;
}



.card-img{
   
    width: 280px;
    height: 200px;
    border-radius: 10px;
   
}

.small-img1{
    height: 15px;
    margin-top: 15px;
    margin-left: 5px;
}

.small-img2{
    height: 20px;
    margin-top: 15px;
    margin-left: 50px;
}

.small-img3{
    height: 18px;
    margin-left: 70px;
}

.heading{
    font-size: 25px;
    margin-left: 40px;
} 

.description1{
    margin-left: 10px;
    font-size: 16px;
    color: rgb(41, 39, 39);
    margin-top: 10px;
    
}

.description2{
    margin-left: 8px;
    font-size: 16px;
    color: rgb(41, 39, 39);
    margin-top: 0px;
 }

 .main-img{
    height: 200px;
    display: block;
    margin: auto;
    padding-top: 10px;
   
 }

 .btn-container{
    display: flex;
    justify-content: space-evenly;
 }

 .btn{
    background-color: black;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    width: 80px;
    font-size: 15px;
 }

 .btn2{
    background-color: rgb(41, 38, 38);
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    color: orangered;
    width: 30px;
    font-size: 20px;
    justify-items: center;
   
 }
 
 #counter{
    font-size: 20px;
    background-color: rgb(41, 38, 38);
    height: 30px;
    width: 30px;
    border-radius: 10px;
    color: orangered;
 }

 .icons{
    height: 18px;
    margin-top: 25px;
    margin-left: 25px;
    
 }

 .icon-description{
    font-size: 15px;
    color: rgb(55, 52, 52);
 }

 .title-txt{
    color: black;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 20px;
 }

 .txt{
    color: rgb(55, 51, 51);
    font-size: 16px;
    margin-left: 8px;
    margin-top: 0px;
   
 }